/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Wrapper Styles */
body, html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Header Styles */
header {
    background-color: #F7C071;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    border-bottom: 5px solid #EFDABD;
}

.sidebar.open ~ header {
    left: 250px;
    width: calc(100% - 250px);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo i {
    font-size: 28px;
    color: #fff;
    margin-right: 10px;
}

header .logo .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

header .nav-links {
    display: flex;
    align-items: center;
}

header .nav-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

header .nav-links a:hover {
    color: #F39C12;
}

header .profile {
    display: flex;
    align-items: center;
}

header .profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

header .profile .profile-name {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #F78949;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #FA975E;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #FA975E;
    color: #FFF;
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #FFF;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #11101d;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #FA975E;
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: 0;
    padding: 10px 14px;
    background: #F08649;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #F08649;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.sidebar ul li input::placeholder {
    color: #FBF3E3;
}

/* Home Section Styles */
.home-section {
    position: relative;
    background: #FFF8ED;
    min-height: 100vh;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    flex: 1;
    padding-bottom: 60px;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #353D4B;
    font-size: 18px;
    font-weight: 500;
    margin: 18px;
    width: 95%;
}

/* Footer Styles */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Altura del footer */
    background-color: #F7C071;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    border-top: 5px solid #EFDABD;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #353D4B;
    color: #fff;
}

tr:nth-child(odd) {
    background-color: #FCFCFC;
}

tr:nth-child(even) {
    background-color: #F5F5F5;
}

tr:hover {
    background-color: #E6E6E6;
}

/* Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #EDBF62;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #F88948;
}

a {
    color: #3498DB;
    text-decoration: none;
}

a:hover {
    color: #FBF3E3;
    text-decoration: none;
}

td .actions {
    display: flex;
    gap: 10px;
}

.actions a {
    background-color: #3498DB;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.actions a:hover {
    background-color: #2980B9;
}

.actions .delete {
    background-color: #E74C3C;
}

.actions .delete:hover {
    background-color: #C0392B;
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

.botones {
    padding: 4px;
    background-color: #EAD09A;
    border-radius: 12px;
    color: #726F6B;
}

.botones:hover {
    background-color: #EDBF62;
    color: #FBF3E3;
}

.acciones {
    text-align: center;
    width: 200px;
}

/*Registro*/
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}
        
.container label {
    font-weight: bold;
}

.container input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}

.container button {
    background-color: #EDBF62;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    background-color: #F88948;
}

.container textarea {
    height: 20vh;
}

.container input[type="date"], select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
    font-size: 18px;
}

.text h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #FCFCFC;
}

.container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container select:focus {
    outline: none;
    border-color: #EDBF62;
}

.container .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
}

.container .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.container .select2-container--default .select2-selection--single {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.select2-container--open .select2-dropdown--below {
    margin-top: -20px;
}

/*Estilos de busqueda por tabla*/
.no-results {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

.search .search-button {
    padding: 10px 20px;
    background-color: #EDBF62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search .search-button:hover {
    background-color: #EAD09A;
}

.search input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a.active {
    background-color:#EDBF62;
    color: #fff;
    border-color: #007bff;
}

.pagination a:hover {
    background-color: #EAD09A;
}
